apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: XXXXX
      server: https://XX.XX.XXX.XXX:6443
    name: default
contexts:
  - context:
      cluster: default
      user: default
    name: default
current-context: default
kind: Config
preferences: {}
users:
  - name: default
    user:
      client-certificate-data: XXXXX
      client-key-data: XXXXXX
